// MODULE DES VARIABLES

// VARIABLES DU MODULE GRID
 
$grillesColonnesNombres: 12;
$grillesGoutieres: .5rem;

$grilleBreakPoint : (
"xs" : "0",
"s" : "600px",
"m" : "800px",
"l" : "1024px",
"xl" : "1240px"
);

//VARIABLES TYPOGRAPHIQUE
$fontText: 'Merriweather', Georgia, serif;
$fontTitle: 'Source Sans Pro', Helvetica, sans-serif;

// VARIABLES COULEURS
$blue: #18BFEF;
$white: #f6f6f6;
$grey: #717981;
$brown: #4e403d;
$black: #212931;