// MODULE DES ELEMENTS DE FORMULAIRE

// BOUTONS
.btn-articles {
    padding: 1rem;
    border: 2px solid $black;
    background: $white;
    color: $black;
    margin: 2rem;
    cursor: pointer;
    width: 100%; 
    max-width: 150px;

    &:hover{
        color: $blue;
        border-color: $blue;
    }

}



.btn-form {
    padding: 1rem;
    border: 2px solid $black;
    background: $white;
    color: $black;
    margin: 2rem;
    cursor: pointer;
    width: 100%;
    max-width: 150px; 

    &:hover{
        color:  $blue;
        border-color:  $blue;
    }

}


.btn-form2 {
    padding: 1rem;
    border: 2px solid $black;
    background: $black;
    color: $white;
    margin: 2rem;
    cursor: pointer; 
    width: 100%;
    max-width: 150px;

    &:hover{
        color:  $blue;
        border-color: $blue;
    }

}


//FORM
.input {
    width: 100%;
    max-width: 500px;
    max-height: 200px;
    margin: 0.75rem;

}

.input-100 {
    width: 100%;
    max-width: 1000px;
}

.input-50 {
    width: 100%;
    max-width: 500px;
}

.input-40 {
    width: 2100%;
    max-width: 400px;
    height: 25%;
}

.input-25 {
    width: 100%;
    max-width: 100px;
}

.input-17 {
    width: 100%;
    max-width: 100px;
}

.opacity {
    opacity: 50%;
}


