//  MODULE DE NAVIGATION



.menu-horizontale {
    
    
  background-color: $grey;
  
  width: 100%;
  max-width: 1200px;
  margin: auto;
  overflow: auto;
  & .lien-h {

  & ul {
      list-style: none;
      margin: 0;
      padding: 0;
    
      & li {
       float: left;
      
       & a {
           text-decoration: none;
            width: 100%;
            max-width: 250px;
           text-align: center;
           color: white;
           text-transform: uppercase;
           display: block;
           padding: 1em;
           &.active {
               background: white;
               color: $black;
           }
           &:hover {
               background: white;
               color: $black;
           }
       }
      
      }
  }
}
  & .social-h {

    & ul {
        list-style: none;
        margin: 0;
        padding: 0;
        
        & li {
            float: right;
            margin: 20px;
            & a {
                color: white;
               &:hover {
                   color:  $blue;
               }
            }
        }
    }
}
}





.menu-slider {
    
  
  
      & ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & a {
            text-decoration: none;
            color: $black;
            
        }
      } 
     &-btn {
         
         
         position: fixed;
         top: 0.5em;
         right: 0em;
         display: block;
         background: $black;
         color: white;
         padding: .5em;
         font-size: 2rem;
         
     }
      
     &-menu {
    position: fixed;
    top: 0;
    right: -400px;
    background: white;
    width: 400px;
    height: 120vh;
    transition: right 300ms ease-in-out;
    
       & a {
           display:block;
        color: $black;
        padding: .5em;
        border-bottom: solid $white;
        &:hover {
            color:  $blue;
            
        }
         & i {
             border-radius: 100% ;
             border: 1px solid $white;
             padding: 1em;
             &:hover {
                 color:  $blue;
                border-color:  $blue;
             }
         }
       }
       &.visible {
           right: 0;
       }
       
}
          
     
  }


  .menu-nombre {
      margin: 2rem;
      padding: 0;

      & button {
          border: $grey solid 2px;
          background-color: $white; 
          color: $black;
          
          &:hover {
              color:  $blue;
              border-color:  $blue;
          }

      }
  }

  .active-btn {
    background:  $black;
    color: $black;
  }