@import './intensivCSS/index.scss';

// ELEMENTS PARTICULIERS

body {
    background: linear-gradient($black, $brown ) ;
}

.main-header {
    color: white;
    & .logo-container {
        border: solid white;
        display: inline-block;
        width: 100%;
        max-width: 400px;
        margin-top: 10rem;  
        margin-bottom: 5rem;   
   & .logo {
    color: white;
    padding: 2rem;
    margin: auto;
    font-size: 2.5rem;
    text-decoration:none;
}
}
}

.start-logo {
    
    padding: 3rem;
    margin-bottom: 5rem;

    & h1 {
        margin: auto;
  font-size: 4.5rem;
  width: 100%;
  max-width: 400px;
    }
    & p {
        padding: 1.24rem;
        width: 100%;
        max-width: 400px;
        margin: auto;
        & i {
            font-size: 4rem;
            width: 100%;
            max-width: 400px;
            margin: auto;
        }
    }
}



.main-content {
background: white;

}

.main-footer {
    background: $white;
    color: $black;
margin: 0;
padding: 0;

& ul {
    list-style: none;

    & li {
        display: inline-block;
       

        & a {
            text-decoration: none;
            border-radius:  100%;
            border: $grey solid 2px;
            padding: 1em;
            margin: 1em;


            &:hover {
                color:  $blue;
                border-color:  $blue;
                
            }
        }
        
    }
}

}

.site-footer {
    margin: 2rem;
color: white;
}


.scroll-trigger {
transform: scale(0);
transition: all 300ms;
&.visibly {
    transform: scale(1);
}

}

//------------------------------ID--------------------------------------


.boite-zoom #zoom img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
} 
.boite-zoom #zoom:hover img {
    transform: scale(1.5);
}