@import './intensivCSS/index.scss';

// ELEMENTS PARTICULIERS

body {
    background: linear-gradient(#212931,#4e403d ) ;
}

.main-header {
    color: white;
    & .logo-container {
        border: solid white;
        display: inline-block;
        margin-bottom: 5rem;
        margin-top: 20rem;     
   & .logo {
    color: white;
    padding: 2rem;
    margin: auto;
    font-size: 2.5rem;
    text-decoration:none;
}
}
}

.start-logo {
    margin: auto;
    padding: 3rem;
    width: 60%;
    & h1 {
        margin: auto;
  font-size: 4.5rem;
  width: 50%;
    }
    & p {
        padding: 1.24rem;
        & i {
            font-size: 4rem;
        }
    }
}



.main-content {
background: white;

}

.main-footer {
    background: #f6f6f6;
    color: black;
margin: 0;
padding: 0;

& ul {
    list-style: none;

    & li {
        display: inline-block;
       

        & a {
            text-decoration: none;
            border-radius:  100%;
            border: grey solid 2px;
            padding: 1em;
            margin: 1em;


            &:hover {
                color: #18BFEF;
                border-color: #18BFEF;
                
            }
        }
        
    }
}

}

.site-footer {
color: white;
}


.scroll-trigger {
transform: scale(0);
transition: all 300ms;
&.visibly {
    transform: scale(1);
}

}

//------------------------------ID--------------------------------------


.boite-zoom #zoom img {
    transform: scale(1);
    transition: 0.3s ease-in-out;
} 
.boite-zoom #zoom:hover img {
    transform: scale(1.5);
}